
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Blog</title>
      <%= stylesheet_link_tag "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>


  <div id="nav">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Home', users_path, class: "nav-link active" %>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if current_user %>
                <li class="nav-item active">
                  <%= link_to 'Articles', articles_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Profile</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <%= link_to "Edit Profile", edit_user_path(current_user.id), class: "dropdown-item" %>
                      <%= link_to "Logout", :logout, method: :post, class: "dropdown-item" %>
                    </div>
                </li>
              <% else %>
                <li class="nav-item active">
                  <%= link_to "Login", :login, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Register", new_user_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
      </nav>

  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <div class="container">
    <%= yield %>
  </div>
  

  </body>
</html>
